<ul class="inline">
  <li>{{comment.user.name}}</li>
  <li>
    <div class="comment-info">
      {{comment.createdAt}}
    </div>
    <div class="comment-text">
      {{comment.text}}
    </div>
  </li>
  <li>
    {{#if comment.approved}}
      <button class="btn" {{action disapprove on="click"}}><i class="icon-thumbs-down"></i></button>
    {{else}}
      <button class="btn" {{action approve on="click"}}><i class="icon-thumbs-up"></i></button>
    {{/if}}
  </li>
</ul>