<div class="post" {{bindAttr id="htmlId"}}>
  {{#linkTo "post.edit"}}Edit{{/linkTo}}
  <h3>{{title}}</h3>
    by {{user.name}} on {{formattedDate}}
  <div class="content">{{body}}</div>
  <div class="taglist">
    <ul class="inline">
    Tags:
    {{#each tag in tagList}}
      <li>{{#linkTo tagged tag}}{{tag}}{{/linkTo}}</li>
    {{else}}
      Keine Tags vorhanden. Hinzufügen?
    {{/each}}
    </ul>
  </div>
  <hr>
  {{ log this }}
  <ul class="unstyled">
    {{#each comment in comments}}
      {{view EmberBlog.CommentInListView contentBinding="comment"}}
    {{else}}
      Noch keine Kommentare
    {{/each}}
  </ul>
  <hr>
  {{#if currentUser.isSignedIn}}
    {{view EmberBlog.CommentsNewView contentBinding="post"}}
  {{else}}
    Log in to write comments.
  {{/if}}
</div>