<div class="post-header">
  {{!-- TODO set title for link according to post's title --}}
  <div class="post-title">
    {{#linkTo post post}}{{post.title}}{{/linkTo}}
  </div>
  <div class="post-info">
    by {{post.user.name}} on {{post.formattedDate}}
    {{#if post.category}}
      in {{post.category.name}}
    {{/if}}
  </div>
</div>
<div class="post-body">
  {{post.teaser}} {{#linkTo post post}}[More]{{/linkTo}}
</div>