<form accept-charset="UTF-8" {{action save on="submit"}}>
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="title"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="body">Text</label>
    <div class="controls">
      {{ view Ember.TextArea valueBinding="body" rows="10" cols="50"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="teaser">Teaser</label>
    <div class="controls">
      {{ view Ember.TextArea valueBinding="teaser" rows="5" cols="50"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="tagList">Tags</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="tagList"}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button class="btn" type="submit">Submit</button>
      <button class="btn" {{action "cancel"}}>Cancel</button>
    </div>
  </div>
</form>