<div class="post" {{bindAttr id="htmlId"}}>
  <h3>{{title}}</h3>
  {{createdAt}}
  <div class="content">{{body}}</div>
  <div class="taglist">
    <ul class="inline">
    Tags:
    {{#each tag in tagList}}
      <li>{{#linkTo tagged tag}}{{tag}}{{/linkTo}}</li>
    {{else}}
      Keine Tags vorhanden. Hinzufügen?
    {{/each}}
    </ul>
  </div>
  <hr>
  {{ log this }}
  <ul class="unstyled">
    {{#each comment in comments}}
      <li>{{comment.text}}</li>
    {{else}}
      Noch keine Kommentare
    {{/each}}
  </ul>
  <hr>
  <div class="create-comment">
    <form accept-charset="UTF-8" {{action save on="submit"}}>
      <div class="control-group">
        <label class="control-label" for="text"><h4>New Comment</h4></label>
        <div class="controls">
          {{view Ember.TextArea valueBinding="text" rows="5" cols="40"}}
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>